# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
##########################################################################################################

modules {
    B:"railcraft:automation"=true
    B:"railcraft:chunk.loading"=true
    B:"railcraft:electricity"=true
    B:"railcraft:extras"=true
    B:"railcraft:factory"=true
    B:"railcraft:forestry"=true
    B:"railcraft:ic2"=true
    B:"railcraft:locomotives"=true
    B:"railcraft:magic"=true
    B:"railcraft:redstone.flux"=true
    B:"railcraft:resources"=true
    B:"railcraft:routing"=true
    B:"railcraft:seasonal"=true
    B:"railcraft:signals"=true
    B:"railcraft:steam"=true
    B:"railcraft:structures"=true
    B:"railcraft:thaumcraft"=true
    B:"railcraft:tracks"=true
    B:"railcraft:tracks.abandoned"=true
    B:"railcraft:tracks.electric"=true
    B:"railcraft:tracks.high.speed"=true
    B:"railcraft:tracks.high.speed.electric"=true
    B:"railcraft:tracks.reinforced"=true
    B:"railcraft:tracks.wood"=true
    B:"railcraft:train"=true
    B:"railcraft:transport"=true
    B:"railcraft:world"=true
}


