# Configuration file

"mod pack name" {
    S:modPackName=Mod Pack Name
}


"mod pack notes" {
    S:modPackNotes <
        Each Line
        Is A Seperate Line
     >
}


"mod pack version" {
    S:modPackVersion=Mod Pack Version
}


