# Configuration file

router {
    # Regex, you can blacklist unwanted inventory here
    # will make it mark the inventory as a non valid
    # It will not scan for any inventory past this
    S:Blacklist <
        tile.null*
        tile.multipart*
        tile.appliedenergistics2.BlockCableBus*
        tile.pipeBlock
     >

    # how many machines to serve on each active tick
    I:machinesprtick=1

    # how many threads allowed to be used for scanning for inventory
    I:scanforinventory_threads=4

    # Amount of ticks between each transfer of items
    I:tickrate=2
}


storageunit {
    # Enable ore dictionary lookup of items being inserted to the storage unit
    B:OreDictionary=true

    # Oredictionary name you want to whitelist (easier compared to doing single blocks) Old list can be removed
    S:OreDictionaryWhitelistNew <
        block
        ore
        ingot
        nugget
        dust
     >

    # Render item inside the storage in 3D
    B:RenderItem3D=false

    # Render name of item inside the storage
    B:RenderItemName=true

    # Render item inside the storage on all sides
    B:ShowItemOnAllSides=false
}


tools {
    # Allow crafting of pickaxe
    B:EnablePickaxe=true

    # Allow pickaxe to show info in top left corner
    B:PickaxeOverlay=true

    # Allow pickaxe to place torches
    B:PickaxeTorches=true

    # Allow Portable crafting table in game
    B:PortableCrafter=true
}


"tree farm" {
    # Ticks between each block harvested, lower is faster (also affect planting rate) increase to lower load on server
    I:HarvestRate=5
    I:RF_used_harvesting=90
    I:RF_used_planting=20
    I:RF_used_scan=10

    # Ticks between checking for trees, lower is faster (also affect how long it takes to scan a complete tree) increase to lower load on server
    I:TreeCheckRate=10
    B:enableParticleAndSound=true
}


worldgen {
    B:enableCopperDust=true
    B:enableCopperIngot=true

    # Allow world generation of copper ore
    B:enableCopperOre=true
    B:enableGoldDust=true
    B:enableIronDust=true
    B:enableLeadDust=true
    B:enableLeadIngot=true
    B:enableSilverIngot=true
    B:enableTinDust=true
    B:enableTinIngot=true
}


